<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="3f18632e-9d64-4d40-b676-d855b71b2efe" wadlVersion="http://wadl.dev.java.net/2009/02" name="MtG API" type="rest" basePath="/mhawley/mtg-tournaments/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description>pull and post events and top 8 decklists</con:description><con:settings><con:setting id="3f18632e-9d64-4d40-b676-d855b71b2efefileName">MtG-API</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://localhost:8088/</con:endpoint><con:endpoint>https://virtserver.swaggerhub.com</con:endpoint></con:endpoints></con:interface>