<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5e02a3e9-3e3c-4312-9f66-e1bc9bcf5dcd" name="https://api.magicthegathering.io TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="5e02a3e9-3e3c-4312-9f66-e1bc9bcf5dcdfileName">https%3A%2F%2Fapi.magicthegathering.io-TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="24e81e5f-0046-495e-9d8e-77f1fcf79adb"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>