<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="2e988c99-7a32-46a0-8291-a6f8ee4918eb" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://api.magicthegathering.io" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="2e988c99-7a32-46a0-8291-a6f8ee4918ebfileName">https%3A%2F%2Fapi.magicthegathering.io</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://api.magicthegathering.io</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="24e81e5f-0046-495e-9d8e-77f1fcf79adb"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>